In [1]:
# Dependencies
import tweepy
import json
import pandas as pd
from config import consumer_key, consumer_secret, access_token, access_token_secret
# Your Twitter API Keys


# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [2]:
# Import CSV file into Data Frame
popular_tweeters = pd.read_csv("../Resources/PopularAccounts.csv", dtype=str)

# Iterate through DataFrame
for index, row in popular_tweeters.iterrows():
    
    # Error handling
    try:
        # Grab the username
        target_user = row["Screen Name"]
        # print(target_user)

        # Use the username with the Twitter API get_user
        user_account = api.get_user(target_user)
        user_real_name = user_account["name"]

        # Get the specific column data
        user_tweets = user_account["statuses_count"]
        followers = user_account['followers_count']
        friends = user_account['friends_count']
        fvrts = user_account['favourites_count']
        # Do the same for "followers_count", "friends_count", and "favourites_count"

        # Replace the row information for each
        popular_tweeters.at[index, "Real Name"] = user_real_name
        # Do the same for "Tweets", "Followers", "Following, and "Favorites Count"
        popular_tweeters.loc[index, 'Tweets'] = user_tweets
        popular_tweeters.loc[index, 'Followers'] = followers
        popular_tweeters.loc[index, 'Following'] = friends
        popular_tweeters.loc[index, 'Favorites Count'] = fvrts

        
    
    # If an error is encountered, move on with the next iteration of the loop
    except:
        continue
        
# Export the new CSV as "PopularAccounts_New.csv"
# Hint: use the to.csv() method
popular_tweeters.to_csv('PopularAccounts_New.csv')
    
# View the DataFrame
# Hint: use the head() method
popular_tweeters.head()

     Screen Name      Real Name Tweets  Followers Following Favorites Count
0      katyperry     KATY PERRY   9245  106850917       216            6024
1   justinbieber  Justin Bieber  30570  104343633    306080            3411
2    BarackObama   Barack Obama  15520  101846582    619569              11
3  Taylorswift13   Taylor Swift    100   83451215         0             465
4        rihanna        Rihanna  10158   87066496      1108            1007

In [5]:
df = popular_tweeters.reset_index(drop=True)
df

,Screen Name,Real Name,Tweets,Followers,Following,Favorites Count
0,katyperry,KATY PERRY,9245,106850917,216,6024
1,justinbieber,Justin Bieber,30570,104343633,306080,3411
2,BarackObama,Barack Obama,15520,101846582,619569,11
3,Taylorswift13,Taylor Swift,100,83451215,0,465
4,rihanna,Rihanna,10158,87066496,1108,1007
5,youtube,YouTube,22741,70595713,1023,2257
6,theellenshow,Ellen DeGeneres,17152,76142927,35602,970
7,ladygaga,Lady Gaga,8786,76678795,126618,1929
8,twitter,Twitter,6944,55216120,144,5518
9,jtimberlake,Justin Timberlake,4000,64323631,287,225
10,britneyspears,Britney Spears,5528,56233382,385256,2554
11,cristiano,Cristiano Ronaldo,3241,74054875,99,0
12,kimkardashian,Kim Kardashian West,27737,58655137,132,6
13,selenagomez,Selena Gomez,4374,56313203,1222,168
14,cnnbrk,CNN Breaking News,62561,54085980,121,19
15,jimmyfallon,jimmy fallon,11081,50290032,8173,217
16,arianagrande,Ariana Grande,42222,57078915,63475,35625
17,shakira,Shakira 🤫,5749,50731848,212,1263
18,ddlovato,Demi Lovato,17088,56708841,542,2091
19,jlo,Jennifer Lopez,13553,43866800,1703,7157
20,instagram,Instagram,11907,37155602,4,198
21,oprah,Oprah Winfrey,12520,41410546,296,153
22,drake,Drizzy,1714,36769517,633,15
23,kingjames,LeBron James,5889,41329928,194,123
24,nytimes,The New York Times,330444,41777447,871,17179
25,billgates,Bill Gates,2779,45567570,188,61
26,cnn,CNN,198561,40190447,1116,1453
27,kevinhart4real,Kevin Hart,37236,34439049,555,91
28,mileycyrus,Miley Ray Cyrus,9389,40538815,391,286
29,onedirection,One Direction,9901,30933136,3797,295
30,sportscenter,SportsCenter,104384,35174209,1663,1112
31,espn,ESPN,96440,33625266,242,114
32,bbcbreaking,BBC Breaking News,34789,38058188,3,0
33,harry_styles,Harry Styles.,5487,32322248,2013,101
34,pink,P!nk,7090,31830299,457,522
35,liltunechi,Lil Wayne WEEZY F,1883,33511311,48,13
36,wizkhalifa,Wiz Khalifa,44487,33231731,834,58
37,niallofficial,Niall Horan,12870,39325063,5996,404
38,brunomars,Bruno Mars,4392,41888531,109,276
39,adele,Adele,306,27926354,0,0
40,narendramodi,Narendra Modi,20062,43607560,1945,0
41,neymarjr,Neymar Jr,41215,40688493,738,820
42,kanyewest,KANYE WEST,589,28051938,8,2
43,kaka,Kaka,4978,29599651,304,98
44,actuallynph,Neil Patrick Harris,2926,27069953,132,206
45,realdonaldtrump,Donald J. Trump,38632,53894157,47,25
46,danieltosh,daniel tosh,13818,26322225,134,2
47,srbachchan,Amitabh Bachchan,62951,34770996,1875,63
48,aliciakeys,Alicia Keys,7728,29841474,705,412
49,nba,NBA,205521,27240095,1673,355

In [ ]:
# Calculate Averages of the following: "Tweets"; "Followers"; "Follwing"; "Favorites Count"
# See "Create DataFrame" below for the variable names you should use
average_tweet_count = popular_tweeters["Tweets"].mean()

# Create DataFrame
averages = {"Average Tweet Count": average_tweet_count, 
            "Average Follower Count": average_followers, 
            "Average Following Count": average_following_count,
            "Average Favorites Count": average_favorites_count}

# Create a Dataframe of the averages