In [1]:
import pandas as pd

In [2]:
# The path to our CSV file

# Read our Kickstarter data into pandas
df = pd.read_csv("Resources/KickstarterData.csv")
df.head()

,id,photo,name,blurb,goal,pledged,state,slug,disable_communication,country,...,location,category,profile,spotlight,urls,source_url,friends,is_starred,is_backing,permissions
0,1645666704,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",The Class Act Players Theatre Company Presents...,The Class Act Players put on another one of th...,1500.0,2925.0,successful,the-class-act-players-theatre-company-presents...,False,US,...,"{""country"":""US"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
1,874638240,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,"A brand new play about love and entitlement, b...",2500.0,2936.0,successful,mr-incredible-by-camilla-whitehill-vault-festival,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
2,247074984,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",RUN,Yonni's pissed off in a world filled with scho...,1000.0,1200.0,successful,run-10,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
3,1941196813,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",9th International Meeting of Youth Theatre sap...,27. April bis 1. Mai 2016 in Brixen/Südtirol/I...,2000.0,2135.0,successful,9th-international-meeting-of-youth-theatre-sap...,False,IT,...,"{""country"":""IT"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
4,421961595,"{""small"":""https://ksr-ugc.imgix.net/assets/012...",Get Conti to the Ed Fringe!,The Italia Conti 2nd years are going to Ed Fri...,1000.0,1250.0,successful,get-conti-to-the-ed-fringe,False,GB,...,"{""country"":""GB"",""urls"":{""web"":{""discover"":""htt...","{""urls"":{""web"":{""discover"":""http://www.kicksta...","{""background_image_opacity"":0.8,""should_show_f...",True,"{""web"":{""project"":""https://www.kickstarter.com...",https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN

In [3]:
# Get a list of all of our columns for easy reference
print(df.columns)

Index(['id', 'photo', 'name', 'blurb', 'goal', 'pledged', 'state', 'slug',
       'disable_communication', 'country', 'currency', 'currency_symbol',
       'currency_trailing_code', 'deadline', 'state_changed_at', 'created_at',
       'launched_at', 'staff_pick', 'is_starrable', 'backers_count',
       'static_usd_rate', 'usd_pledged', 'creator', 'location', 'category',
       'profile', 'spotlight', 'urls', 'source_url', 'friends', 'is_starred',
       'is_backing', 'permissions'],
      dtype='object')

In [4]:
# Extract "name", "goal", "pledged", "state", "country", "staff_pick",
# "backers_count", and "spotlight"
df_extract = df[["name","goal","pledged", "state", "country", "staff_pick","backers_count","spotlight"]]
# "]]
df_extract.head()
df_extract.count()

name             4120
goal             4120
pledged          4120
state            4120
country          4120
staff_pick       4120
backers_count    4120
spotlight        4120
dtype: int64

In [5]:
# Remove projects that made no money at all
df_havemoney = df_extract.loc[df_extract['pledged'] > 0,:]
df_havemoney.count()

name             3307
goal             3307
pledged          3307
state            3307
country          3307
staff_pick       3307
backers_count    3307
spotlight        3307
dtype: int64

In [6]:
# Collect only those projects that were hosted in the US
df_US = df_havemoney.loc[df_havemoney['country'] == 'US',:]
df_US.count()

name             2129
goal             2129
pledged          2129
state            2129
country          2129
staff_pick       2129
backers_count    2129
spotlight        2129
dtype: int64

In [7]:
# Create a new column that finds the average amount pledged to a project
df_US['average_pledge'] = df_US['pledged'] / df_US['backers_count']
df_US.head()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight,average_pledge
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True,172.058824
8,Forefront Festival 2015,7200.0,7230.0,successful,US,False,68,True,106.323529
11,Hamlet the Hip-Hopera,9747.0,10103.0,successful,US,True,132,True,76.537879
14,Pride Con,15000.0,15110.0,successful,US,False,60,True,251.833333
15,En Garde Arts Emerging Artists Festival BOSSS,10000.0,10306.0,successful,US,True,80,True,128.825000

In [8]:
# First convert "average_donation", "goal", and "pledged" columns to float
#pd.to_numeric(df_US['average_pledge'])
#pd.to_numeric(df_US['goal'])
#pd.to_numeric(df_US['pledged'])

# Then Format to go to two decimal places, include a dollar sign, and use comma notation
#df_US['average_pledge'] = df_US['average_pledge'].map("${:.2f}".format)
df_US['average_pledge'] = df_US['average_pledge'].astype(float).map("${:,.2f}".format)
df_US['goal'] = df_US['goal'].astype(float).map("${:,.2f}".format)
df_US['pledged'] = df_US['pledged'].astype(float).map("${:,.2f}".format)
df_US

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight,average_pledge
0,The Class Act Players Theatre Company Presents...,"$1,500.00","$2,925.00",successful,US,False,17,True,$172.06
8,Forefront Festival 2015,"$7,200.00","$7,230.00",successful,US,False,68,True,$106.32
11,Hamlet the Hip-Hopera,"$9,747.00","$10,103.00",successful,US,True,132,True,$76.54
14,Pride Con,"$15,000.00","$15,110.00",successful,US,False,60,True,$251.83
15,En Garde Arts Emerging Artists Festival BOSSS,"$10,000.00","$10,306.00",successful,US,True,80,True,$128.82
17,"My Life in Michaels, a short play","$1,200.00","$1,265.00",successful,US,False,19,True,$66.58
19,MSGA Junior Theater Festival 2016,"$1,000.00","$1,300.00",successful,US,False,17,True,$76.47
20,A Kingdom for a Stage! - Much Ado...,"$5,000.00","$6,475.00",successful,US,False,105,True,$61.67
31,Bartleby: a new musical at the MN Fringe,"$2,000.00","$2,625.00",successful,US,False,25,True,$105.00
32,"The Point, a show in the Women's Voices Theate...","$3,150.00","$3,150.00",successful,US,False,22,True,$143.18
33,An Intimate Evening With Typhoid Mary,"$6,700.00","$7,050.00",successful,US,False,102,True,$69.12
39,"""Poor People"" at FringeNYC 2015","$5,500.00","$5,682.00",successful,US,True,34,True,$167.12
42,Painting His Wings by Sinead Daly at FringeNYC,"$8,000.00","$8,780.00",successful,US,False,140,True,$62.71
43,"Lindsay Benner takes ""Book of Love"" to the Edi...","$10,939.00","$13,116.00",successful,US,False,160,True,$81.97
44,Queen Mab's Steampunk and Fairie Street Festival,"$1,300.00","$3,363.00",successful,US,True,62,True,$54.24
45,RAFT: a new play by Emily Kitchens,"$7,500.00","$7,826.00",successful,US,True,120,True,$65.22
46,butyou'reaman in New York,"$5,000.00","$5,717.00",successful,US,False,136,True,$42.04
47,The Spinning Wheel: a son remixes a father's r...,"$20,000.00","$22,602.00",successful,US,True,228,True,$99.13
48,bring the children home...,"$2,500.00","$2,500.00",successful,US,False,46,True,$54.35
50,Bloomers Presents: LaughtHERfest,"$8,000.00","$9,501.00",successful,US,True,102,True,$93.15
52,#liberated,"$2,000.00","$2,295.00",successful,US,False,62,True,$37.02
54,Natasha Noman's Noman's Land | Aug 5-15th Edi...,"$7,000.00","$7,571.00",successful,US,True,84,True,$90.13
59,COSPLAY,"$5,000.00","$5,000.00",successful,US,False,42,True,$119.05
64,Love at the end of time--FringeNYC 2015,"$5,000.00","$5,055.00",successful,US,False,22,True,$229.77
67,The Devil You Say,"$2,000.00","$4,000.00",successful,US,False,67,True,$59.70
73,Les Midge: An Unexpected Musical of Hobbit Pro...,$400.00,$407.00,successful,US,False,15,True,$27.13
74,"""Flying Ship"" Musical by Solo Youth Theater of...","$3,000.00","$3,030.00",successful,US,False,60,True,$50.50
75,West Fulton Puppet Festival,"$5,500.00","$5,637.00",successful,US,False,53,True,$106.36
77,Take FLIGHT East to Edinburgh!,"$4,772.00","$5,661.00",successful,US,False,103,True,$54.96
79,Ex Communication,"$2,500.00","$2,710.00",successful,US,False,61,True,$44.43
...,...,...,...,...,...,...,...,...,...
4076,MASKS: Off-Broadway Debut,"$5,000.00","$5,671.11",successful,US,False,53,True,$107.00
4077,The Impossible Adventures Of Supernova Jones,"$2,000.00","$2,804.00",successful,US,False,55,True,$50.98
4078,Kapow-i GoGo at The PIT,"$2,500.00","$2,575.00",successful,US,True,49,True,$52.55
4080,"Help us get ""Old Friends"" to the El Portal!!!","$3,000.00","$3,160.00",successful,US,False,66,True,$47.88
4081,The Hurtling Stillness. A story about angels a...,"$1,800.00","$1,805.00",successful,US,True,12,True,$150.42
4082,"PL@Y, an all-original fusion of comedy, rock, ...","$3,000.00","$3,190.00",successful,US,False,33,True,$96.67
4083,The Crusade of Connor Stephens: Professional P...,"$2,000.00","$2,000.00",successful,US,False,15,True,$133.33
4084,"The Mount, new play about Edith Wharton","$2,100.00","$2,305.00",successful,US,False,45,True,$51.22
4086,Prison Boxing: A New Play by Leah Joki,"$12,200.00","$12,571.00",successful,US,True,134,True,$93.81
4087,The Lost Boy (a play),"$3,400.00","$4,050.00",successful,US,False,23,True,$176.09
4088,Peter Pan by J.M. Barrie @ Open Space Arts,"$1,000.00","$1,046.00",successful,US,False,23,True,$45.48
4091,The Honeymoon is Over - An Original Play by Za...,$900.00,"$1,175.00",successful,US,False,12,True,$97.92
4092,"""Lucy & Vincente"" A New Play about Lucille Ball","$3,000.00","$3,319.00",successful,US,False,43,True,$77.19
4093,The Lower Depths,"$2,000.00","$2,287.00",successful,US,False,26,True,$87.96
4094,Green Light Productions produces theatre creat...,"$5,000.00","$5,024.00",successful,US,False,41,True,$122.54
4095,Bluebirds by Joe Brondo,"$7,000.00","$7,365.00",successful,US,True,75,True,$98.20
4097,Dandelion Theatre: 'Body Awareness' by Annie B...,"$2,000.00","$2,041.00",successful,US,False,23,True,$88.74
4099,"One-Man Show: ""The Book Of oded, Chapter 2""","$10,000.00","$10,299.00",successful,US,False,162,True,$63.57
4100,The Seagull Project Presents: The Three Sisters,"$20,000.00","$21,573.00",successful,US,True,202,True,$106.80
4101,A Hard Rain - New York Debut,"$3,000.00","$3,133.00",successful,US,False,28,True,$111.89
4103,We Rise,"$1,500.00","$1,800.00",successful,US,False,31,True,$58.06
4104,Verdigris - A Play by Jim Beaver,"$35,000.00","$56,079.83",successful,US,True,930,True,$60.30
4105,The Butterfingers Angel... [By The Mummers],"$8,000.00","$8,010.00",successful,US,False,113,True,$70.88
4106,Lord of the Flies - Syracuse University,"$4,000.00","$4,443.00",successful,US,False,65,True,$68.35
4108,A Few Brave Men: The Chosen Few,"$5,000.00","$5,000.00",successful,US,False,28,True,$178.57
4109,Going To Market,"$2,000.00","$2,100.00",successful,US,False,41,True,$51.22
4110,LIBERTY! EQUALITY! AND FIREWORKS!... A Civil R...,"$3,000.00","$3,506.00",successful,US,False,35,True,$100.17
4115,Bring Love's Labour's Lost to Minnesota,"$25,000.00","$25,388.00",successful,US,True,213,True,$119.19
4117,"""The Santaland Diaries"" by David Sedaris in Lo...","$6,000.00","$7,140.00",successful,US,False,108,True,$66.11
4118,REBATEnsemble Presents: ICONS - The Martin Show,$300.00,$312.00,successful,US,False,6,True,$52.00

In [9]:
# Calculate the total number of backers for all US projects
df_US['backers_count'].sum()

89273

In [10]:
# Calculate the average number of backers for all US projects
df_US['backers_count'].mean()

41.931892907468296

In [12]:
# Collect only those US campaigns that have been picked as a "Staff Pick"
df_staff = df_US.loc[df_US['staff_pick'] == True,:]
df_staff.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight,average_pledge
11,Hamlet the Hip-Hopera,"$9,747.00","$10,103.00",successful,US,True,132,True,$76.54
15,En Garde Arts Emerging Artists Festival BOSSS,"$10,000.00","$10,306.00",successful,US,True,80,True,$128.82
39,"""Poor People"" at FringeNYC 2015","$5,500.00","$5,682.00",successful,US,True,34,True,$167.12
44,Queen Mab's Steampunk and Fairie Street Festival,"$1,300.00","$3,363.00",successful,US,True,62,True,$54.24
45,RAFT: a new play by Emily Kitchens,"$7,500.00","$7,826.00",successful,US,True,120,True,$65.22

In [15]:
# Group by the state of the campaigns and see if staff picks matter (Seems to matter quite a bit)
df_grouped = df_staff.groupby('state')
df_grouped['name'].count()

state
canceled        6
failed         21
live            2
successful    145
Name: name, dtype: int64

In [18]:
df_test = df_grouped['name'].count().reset_index().copy()
df_test

        state  name
0    canceled     6
1      failed    21
2        live     2
3  successful   145